.burger {
  flex-direction: column;
  justify-content: space-between;

  width: size(40px);
  height: size(16px);
  cursor: pointer;

  .is-open & {
    width: size(22px);
    height: size(22px);
    transform: translateX(size(-10px));

    .burger__line:first-child {
      transform: rotate(45deg) translateX(size(13.5px));
    }

    .burger__line:last-child {
      transform: rotate(-45deg) translateX(size(13.5px));
    }
  }
}

.burger__line {
  width: 100%;
  height: size(3px);
  background-color: $color-magnolia;
  border-radius: size(10px);
  transition: transform $trans-600;

}
