.header {
  padding-top: size(30px);
  z-index: 30;
  transition: transform 0.3s ease, background-color 0.3s ease;

  @include vp-767 {
    padding-top: size(24px);
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &.is-hidden {
    transform: translateY(-100%);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: size(128px);
    height: size(55px);
    margin: 0 size(40px) 0 0;
    display: flex;

    @include vp-1023 {
      width: size(89px);
      height: size(37px);

      transition: margin $trans-default;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .is-open & {
      position: relative;
      z-index: 25;

      @include vp-1023 {
        margin-left: size(20px);
      }
    }
  }

  &__overlay {
    display: none;

    @include vp-1023 {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 0;

      background: rgba(48, 9, 97, 0.3);
      backdrop-filter: blur(7.5px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity $trans-default;
    }

    .is-open & {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }

  &__inner-wrapper {
    display: flex;


    @include vp-1023 {
      z-index: 20;
      flex-direction: column;
      align-items: flex-start;
      width: calc(100vw - #{size(16px)});
      opacity: 0;
      margin: 0;
      padding: size(115px) size(20px) size(60px) size(20px);
      position: fixed;
      pointer-events: none;
      top: 0;
      transition: all $trans-default;
      right: 0;
      visibility: hidden;
      background-color: $color-bunting;
      border-radius: 0px 0px 0px size(30px);
    }

    .is-open & {
      opacity: 1;
      pointer-events: all;
      visibility: visible;

      .header__item {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .btn {
      @include vp-1023 {
        flex-grow: 0;
      }
    }
  }

  &__git-link {
    display: flex;
    margin: 0 0 0 auto;

   @media (max-width: 1023px) {
      margin: 0 24px 0 auto;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-right: size(150px);

    font-weight: 400;
    font-size: size(23px);
    line-height: size(28px);
    color: $color-very-light-grey;

    @include vp-1023 {
      width: 100%;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

   @include vp-1023 {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 size(90px) 0;
      max-width: unset;
    }
  }

  &__item {
    @media (max-width: 1023px) {
      opacity: 0;
      transition: all ease-out 0.15s;
      transform: translateX(15px);
    }

    &:not(:last-child) {
      margin: 0 size(105px) 0 0;

      @include vp-1023 {
        margin: 0 0 size(19px) 0;
      }
    }
  }

  &__link {

  }

  &__burger {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #000000;
    display: none;
    padding: 0;
    position: relative;
    z-index: 25;

   @media (max-width: 1023px) {
      display: flex;
      position: relative;
      transition: all 0.3s ease;
    }

    .is-open {
      .header__burger-text {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease 0s;
      }

      .header__burger-icon {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s ease 0.2s;
      }
    }
  }
}

.section-example {
  height: 100vh;

  &:nth-child(2) {
    background-color: #f03838;
  }

  &:nth-child(3) {
    background-color: #3c69ff;
  }

  &:nth-child(5) {
    background-color: #f4ff25;
  }

  &:nth-child(6) {
    background-color: #17ff45;
  }
}
