// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../../fonts/inter/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "";

  font-display: swap;
  src: url("../../fonts/inter/.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter/Inter-Regular.woff2') format('woff2'),
      url('../../fonts/inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter/Inter-Medium.woff2') format('woff2'),
      url('../../fonts/inter/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter/Inter-SemiBold.woff2') format('woff2'),
      url('../../fonts/inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/inter/Inter-Bold.woff2') format('woff2'),
      url('../../fonts/inter/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../../fonts/gtwalsheimpro/GTWalsheimPro-Medium.woff2') format('woff2'),
      url('../../fonts/gtwalsheimpro/GTWalsheimPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
