mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Что даст обучение"
      },
    ]

  header.header-example(class=headerMods data-header)
    .container
      if(currentUrl === "index.html")
        span.header-example__logo Логотип
      else
        a.header-example__logo(href="index.html", aria-label="Переход на главную") Логотип
      nav.header-example__nav
        ul.header-example__list
          each link in headerLinks
              - const activeState = currentUrl === link.href
              li.header-example__item
                if(activeState)
                  span.header-example__link.is-active=link.text
                else
                  a.header-example__link.link(href=link.href)=link.text
      button.header-example__burger(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-burger)
        +icon("icon-burger", 20, 20)
